option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_PATH: "/var/app/data/committee_system.db"
    FLASK_ENV: "production"
    
files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/db_data.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/data
